    body {
        margin: 0;
        padding: 0; 
    }

    /********************************* Navbar***************************/
    .custom-navbar {
        background-color: rgba(5, 39, 39, 0.959); 
    }
    .custom-navbar .navbar-nav .nav-link {
        color: white;
    }
    .custom-navbar .navbar-brand {
        color: white; 
    }
    .custom-navbar .navbar-nav .nav-link:hover {
        color: #cccccc; 
    }
    .custom-navbar .dropdown-menu { 
        background-color: rgb(1, 1, 80); 
        border: none; 
    }
    .custom-navbar .dropdown-item {
        color: white; 
    }
    .custom-navbar .dropdown-item:hover {
        color: #cccccc; 
    }
    .navbar-toggler {
        border-color: white; /* Set the border color of the toggle button */
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set toggle icon color to white */
    }

    /************************** carousel*******************************/
    #carouselExample {
        width: 60%; /* Adjust width as needed */
        margin: 30px auto; /* Margin to center the carousel and add space around */
        margin-top: 10vh; /* Adjust this value to control space below the navbar */
        position: relative;
    }
    
    /* Ensure the carousel is below the navbar */
    body {
        padding-top: 70px; /* Adjust this value based on your navbar height */

    }
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("https://img.freepik.com/free-vector/glossy-green-color-modern-polygonal-shapes-background_1055-21145.jpg?uid=R158582796&ga=GA1.1.633534688.1708099222&semt=ais_hybrid");
        background-size: cover;
        filter: blur(10px); /* Adjust the blur radius as needed */
        z-index: -1;
    }
    
    /* Make carousel responsive */
    @media (max-width: 767.98px) {
        #carouselExample {
            width: 100%; /* Full width on small screens */
            margin-top: 10px; /* Adjust margin for smaller screens if needed */
        }
    }
    
    /* Wrapper for consistent aspect ratio */
    .carousel-item {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 aspect ratio; adjust as needed */
        overflow: hidden;
    }
    
    /* Ensure images fit within the wrapper */
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ensure the image fits within the wrapper without cropping */
    }
    