* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      rgba(12, 3, 51, 0.3),
      rgba(12, 3, 51, 0.3)
    );
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo {
    width: 80px;
  }
  .logo {
    width: 300%; 
    height: 100%;
    border-radius: 100%; 
    object-fit: cover; 
    display: block; 
    margin-left: -5%; 
  }

  nav ul {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  nav ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  .content {
    text-align: center;
  }
  .content h1 {
    font-size: 160px;
    color: whitesmoke;
    font-weight: 600px;
    transition: color 0.5s;
    animation: color-blink 1.5s infinite; 
  }
  @keyframes color-blink {
    0% {
      color: #ffb6c1; 
    }
    50% {
      color: #ffffff; 
    }
    100% {
      color: #ffb6c1; 
    }
  }

  .content h1:hover {
    -webkit-text-stroke: 5px #f4b7b7;
    color: transparent;
  }
  .explore-button {
text-decoration: none ;
display: inline-block ;
color: rgb(238, 141, 141) ; 
font-size: 45px;
border: 3px solid #e3e2e2 ; 
padding: 14px 70px ;
border-radius: 50px ;
margin-top: 20px ;
animation: light-color-blink 2s infinite ; 
transition: color 0.5s, border-color 0.5s ; 
}

@keyframes light-color-blink {
0% {
    color: hsl(0, 74%, 74%); 
}
50% {
    color: hsl(0, 66%, 94%); 
}
100% {
    color:  hsl(0, 74%, 74%);
}
}


.explore-button:hover {
border-color: #f0f0f0; 
color: #f0f0f0; 
}


  .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
.hero {
    padding: 0 2%; 
}

nav .logo {
    width: 60px; 
}

nav ul {
    margin-left: 10px; 
}

nav ul a {
    font-size: 14px; 
}

.content h1 {
    font-size: 20vw; 
}

.explore-button {
    font-size: 5vw; 
    padding: 1em 1.5em; 
}
}

@media (min-width: 350) and (max-width: 480px) {
nav .logo {
    width: 40px; 
}

nav ul {
    margin-left: 5px; 
}

nav ul a {
    font-size: 12px; 
}

.content h1 {
    font-size: 30vw; 
}

.explore-button {
    font-size: 6vw; 
    padding: 1em 1em; 
}
}
